/* MOBILE STYLES FIRST - MOBILE STYLES*/
@import "partials/nav_bar.scss";
@import "partials/footer.scss";



html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0px;
}

html{
    font-family: "helvetica neue", sans-serif;
}

//.container *{
//    border: 1px solid black;
//}


/*page layout*/
header {grid-area: header;}
nav {grid-area: nav;}
section {grid-area: section;}


footer {grid-area: footer;}




/*outermost div - grid*/
.container{
     display: grid;
     grid-template-areas: "header"
                         "section"
                         "footer";   
     grid-template-rows: 1fr;
     grid-template-columns: 1fr;
     grid-gap: 10px;
     margin: 0px;
}     

/*layout specs*/
header, section, footer {
        width: 100%;
        margin: 2px;
        margin-bottom: 0px;
}

/*header specs - grid*/
header{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    z-index: 0;
}

/*nav position in header*/
@include nav_bar;



/*header code4ct background img*/
.header_img{
    display: grid;
    grid-column: 1/11;
    grid-row: 3/11;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
}

.header_img img{ 
    width: 100%;
    height: 200px;    
    grid-column: 1/11;
    grid-row: 1/2;
}



/*header colour and height*/
header{
background-color: grey;
height: 250px;
}

.our_portfolio_tag{
    display: block;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2; 
    width: 150px;
    height: 100px;
    margin-top: 70px;
    text-align: center;
    line-height: 12px;
    margin-left: 15%; 
    background-color: rgba(0,0,0,0.5);
    color: #E69286;
}

.our_portfolio_tag h3{
    line-height: 15px;
}

section{
    display: grid;
//     grid-template-areas:   ;  
    background-color: rgba(0,0,0,0.5);
    height: 625px;
}


/* The Image Box */
div.img {
    border: 1px solid #ccc;
    height: 200px;
    margin-bottom: 0px;
}
/*The Hover Effect*/
div.img:hover {
/*    border: 1px solid #777;*/
    transform: scale(1.1);
}

/* The Image */
div.img img {
    width: 100%;
    height: 200px;
    cursor: zoom-in;
}


* {
    box-sizing: border-box;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Add Animation */
.modal-content {    
    animation-name: zoom;
    animation-duration: 0.6s;
}


@keyframes zoom {
    from {transform:scale(0.1)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* Clear Floats */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

//gallery

.gallery{
//    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat (4,1fr);
    grid-template-rows: repeat (3,1fr);
    
}
.grid1{
    display: inline-block;
    grid-column: 1/2;
    grid-row: 1/2;
}
.grid2{
    display: inline-block;
    grid-column: 2/3;
    grid-row: 1/2;
}
.grid3{
    display: inline-block;
    grid-column: 3/4;
    grid-row: 1/2;
}
.grid4{
    display: inline-block;
    grid-column: 4/5;
    grid-row: 1/2;
}
.grid5{
    display: inline-block;
    grid-column: 1/2;
    grid-row: 2/3;
}
.grid6{
    display: inline-block;
    grid-column: 2/3;
    grid-row: 2/3;
}
.grid7{
    display: inline-block;
    grid-column: 3/4;
    grid-row: 2/3;
}
.grid8{
    display: inline-block;
    grid-column: 4/5;
    grid-row: 2/3;
}
.grid9{
    display: inline-block;
    grid-column: 1/2;
    grid-row: 3/4;
}
.grid10{
    display: inline-block;
    grid-column: 2/3;
    grid-row: 3/4;
}
.grid11{
    display: inline-block;
    grid-column: 3/4;
    grid-row: 3/4;
}
.grid12{
    display: inline-block;
    grid-column: 4/5;
    grid-row: 3/4;
}

//gallery four columns
@media only screen and (min-width: 769px)and (max-width: 1440px){
    section{
        height: 900px;
        
        .gallery{
            height: 615px;}
    }
}
@media only screen and (min-width: 769px)and (max-width: 1025px){
    section{
        height: 920px;
        
        .gallery{
            height: 615px;}
    }
}





//gallery two columns
@media only screen and (min-width: 501px)and (max-width: 768px){
    
    section{
        height: 1530px;
        
        .gallery{
            height: 1225px;
            grid-template-columns: repeat (2,1fr);
            grid-template-rows: repeat (6,1fr);
            
            
          .grid1,.grid2,.grid3,.grid4,.grid5,.grid6,.grid7,.grid8,.grid9,.grid10,.grid11,.grid12{
            display: inline-block;
            }  
            
            .grid1, .grid2{
            grid-row: 1/2;
        }
            .grid3, .grid4{
            grid-row: 2/3;
        }
            .grid5, .grid6{
            grid-row: 3/4;
        }
            .grid7,.grid8 {
            grid-row: 4/5;
        }
            .grid9, .grid10{
            grid-row: 5/6;
        }
            .grid11, .grid12{
            grid-row: 6/7;
        }
            
            
            .grid1,.grid3,.grid5,.grid7,.grid9,.grid11{
            grid-column: 1/2;
        }
            .grid2,.grid4,.grid6,.grid8,.grid10,.grid12{
            grid-column: 2/3;
        }
     
                
            
        }
        

    }
}


//gallery one column
@media only screen and (max-width: 500px){
    
    section{
        height: 2780px;
        
        .gallery{
            height: 2450px;
            grid-template-rows: repeat (12,1fr);
            
            
          .grid1,.grid2,.grid3,.grid4,.grid5,.grid6,.grid7,.grid8,.grid9,.grid10,.grid11,.grid12{
        display: block;
        grid-column: 1/5;
            }  
            
            .grid1{
            grid-row: 1/2;
        }
            .grid2{
            grid-row: 2/3;
        }
            .grid3{
            grid-row: 3/4;
        }
            .grid4{
            grid-row: 4/5;
        }
            .grid5{
            grid-row: 5/6;
        }
            .grid6{
            grid-row: 6/7;
        }
            .grid7{
            grid-row: 7/8;
        }
            .grid8{
            grid-row: 8/9;
        }
             .grid9{
            grid-row: 9/10;
        }
            .grid10{
            grid-row: 10/11;
        }
            .grid11{
            grid-row: 11/12;
        }
            .grid12{
            grid-row: 12/13;
        }
                
            
        }
        

    }
}

//pagination btns
//.slider_btns{
//    margin-left: 45%;
//}



section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
    
}
.campanies_carousel{
    display: grid;
    grid-row: 4/5;
    background-color: black;
    width: 100%;
    height: 150px;
    margin-top: 15px;
    height: 150px;
}


/* Slider */
.wrapper {
  overflow: hidden;
}

.sliding-background {
    overflow: hidden;
  background: url(../images/Code4CT-logos.png) repeat-x;
  height: 150px;
  width: 5076px;
  animation: slide 30s linear infinite;
  padding-left: 0;
  padding-right: 0;
}

@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-3172px, 0, 0);
  }
}




///footer/
@include footer;