@import "partials/nav_bar.scss";
@import "partials/back_to_top_btn.scss";
@import "partials/header.scss";
@import "partials/section.scss";
@import "partials/footer.scss";


@include header;
@include nav_bar;
@include back_to_top_btn;
@include section;
@include footer;


/* MOBILE STYLES FIRST - MOBILE STYLES*/

//.container *{
//    border: 1px solid red;
//}

html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0px;
}

html{
    font-family: "helvetica neue", sans-serif;
}

header {grid-area: header;}
section {grid-area: section;}
footer {grid-area: footer;}
nav {grid-area: nav;}

.container{
     display: grid;
     grid-template-areas: "header"
                         "section"
                         "footer";   
     grid-template-rows: 1fr;
     grid-template-columns: 1fr;
     grid-gap: 10px;
     margin: 0px;
}     

header, section{
        width: 100%;
        height: 100%;
        margin: 0px;
        margin-bottom: 0px;
}




///////////////////////////large smartphone////////////////////////


@media screen and (min-width: 376px) and (max-width: 425px){

    section{
//    height: 5700px;
    height: 100%;
}
    
    header{
        height: 320px;
    }
    
        .who_we_are_photo_group{
            width: 100%;
            height: 200px;

}
    
    .who_we_are_img1, .who_we_are_img2, .who_we_are_img3, .who_we_are_img4 {
        width: 100%;
        height: 200px;
    }
    
     .portfolio_pic_1,.portfolio_pic_2,.portfolio_pic_3,.portfolio_pic_4, .portfolio_pic, .portfolio_pics{
        width: 100%;
        height: 200px;
        margin-bottom: 5px;
    } 
    
    .mySlides{
        width: 100%;
        height: 320px;
        z-index: 0;
    }
    
    #overlay{
        height: 165px;
    }
    
    #overlay_text{
       font-size: 11px;
        top: 50%;
        height: 180px;
    }
    
    .slider_btn{
        top: 295px;}
    
        .happy_client, .finish_project, .cup_of_coffee, .working_days{
        margin-left: 10%;
    }
    
    section{
    height: 5590px;
//    height: 100%;
}

}

//////////////////////////medium smartphone/////////////////

@media screen and (min-width: 321px) and (max-width: 375px){

    header{
        height: 320px;
    }
    
    .mySlides{
        width: 100%;
        height: 320px;
        z-index: 0;
    }
    
    #overlay{
        height: 165px;
    }
    
    #overlay_text{
        font-size: 11px;
        top: 50%;
        height: 180px;
    }
    
        .who_we_are_img1, .who_we_are_img2, .who_we_are_img3, .who_we_are_img4,.who_we_are_photo_group {
        width: 100%;
        height: 150px;
    }
    
     .portfolio_pic_1,.portfolio_pic_2,.portfolio_pic_3,.portfolio_pic_4, .portfolio_pic, .portfolio_pics{
        width: 100%;
        height: 200px;
        margin-bottom: 5px;
    } 
    
    .slider_btn{
        top: 295px;}
        .happy_client, .finish_project, .cup_of_coffee, .working_days{
            margin-left: 9%;
            width: 70px;
}

section{
    height: 5470px;
//    height: 100%;
    }

}
////////////////////////////small mobile//////////////////////////
@media screen  and (max-width: 320px){
    header{
        height: 320px;
    }
    
    .mySlides{
        width: 100%;
        height: 320px;
        z-index: 0;
    }
    #overlay{
        height: 165px;
    }
    
    #overlay_text{
        font-size: 11px;
        top: 50%;
        height: 180px;
    }
    
        .who_we_are_img1, .who_we_are_img2, .who_we_are_img3, .who_we_are_img4,.who_we_are_photo_group {
        width: 100%;
        height: 150px;
    }
    
     .portfolio_pic_1,.portfolio_pic_2,.portfolio_pic_3,.portfolio_pic_4, .portfolio_pic, .portfolio_pics{
        width: 100%;
        height: 200px;
        margin-bottom: 5px;
    } 
    section{
    height: 100%;
    }
    
    .happy_client, .finish_project, .cup_of_coffee, .working_days{
    width: 60px;
    margin-left: 5%;
}
    .slider_btn{
        top: 295px;}
    
    section{
    height: 5470px;
//    height: 100%;
    }
}
///////////////////////////////tablet view/////////////////////////////

@media screen and (min-width: 426px) and (max-width: 768px){
    
    .mySlides{
    width: 100%;
    height: 450px;
    z-index: 0;
}
    
     .one{
        margin-left: 35%;
    }
    .who_we_are{
        height: 500px;
    }
    
    
    .who_we_are_content{
       
    display: inline-block;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 6;
        width: 50%;
/*    height: 35%;*/
    
}
    .who_we_are_head{
        margin-top: 10px;
}
    
    .read_more{
        margin-bottom: 20px;
    }
    

    
    .who_we_are_photos{
       
    display: inline-block;
    grid-column-start: 5;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 6;
    background-color: white;
        margin-top: 20px;
        height: 0px
    
}
    

    .who_we_are_photo_group{
        display: inline-block;
    width: 155px;
    height: 100px;
        margin-top: 0px;
/*    margin: 10px 10px 10px 10px;*/
}
    
    .who_we_are_img1, .who_we_are_img2, .who_we_are_img3, .who_we_are_img4 {
        display: inline-block;
    }
    
    .who_we_are_img1, .who_we_are_img2{
    grid-row-start: 1;
    grid-row-end: 3;
    }
    
    .who_we_are_img3, .who_we_are_img4{
    grid-row-start: 5;
    grid-row-end: 6;
    }
    
    .who_we_are_img1, .who_we_are_img3{
    grid-column-start: 5;
    grid-column-end: 6;
    }
    
    .who_we_are_img2, .who_we_are_img4{
    grid-column-start: 6;
    grid-column-end: 7;
    }
     
    .top_group{
        margin-top: -10px;
    }
    
    
    .course_outcome{
        height: 250px;
        
    }
    
   .course_outcome{
    height: 240px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(10,1fr);
        
    }
    
    .pc_icon, .speaker_icon, .tool_icon, .pages_icon{
    display: inline-block;
    width: 150px;
    height: 210px;
    margin-left: 0;
    grid-row-start: 1;
    grid-row-end: 11;
    font-size: 14px;
    margin-top:10px;
        
        p{
            width: 150px;
            font-size: 11px;
        }
}

  .pc_icon h4,.speaker_icon h4, .tool_icon h4, .pages_icon h4 {
        margin-top:0px;
    }
    
    
.pc_icon{
    grid-column-start: 2;
    grid-column-end: 3;
}
  
.speaker_icon{
    grid-column-start: 3;
    grid-column-end: 4;
}

.tool_icon{
    grid-column-start: 4;
    grid-column-end: 5;
}

.pages_icon{
    grid-column-start: 5;
    grid-column-end: 6;
}

.course_outcome_icons{
    height: 50px;
    width: 50px;
}
   
.portfolio_content{
    margin-left: 5%;
    margin-right: 5%;
}    
  
    portfolio_group_pics{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr); 
    }    
    
    

    .portfolio_group1{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    width: 50%;    
    }
    
    .portfolio_group2{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    width: 40%;    
    }
    
    
    .portfolio_pic{
        width: 300px;
        height: 315px;
    }  
    
    .portfolio_pics{
        width: 150px;
        height: 150px;

    }
  
    .portfolio_pic_1,.portfolio_pic_2,.portfolio_pic_3,.portfolio_pic_4{
        width: 150px;
        height: 150px;
        margin: 5px;
    }   
  
    .portfolio_pic_1,.portfolio_pic_2{
        margin-top: 0px;
    }
    
.portfolio_pic_1{
    display: inline-grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    }
.portfolio_pic_2{
    display: inline-grid;
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 5;
    }
.portfolio_pic_3{
    display: inline-grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 10;
/*    margin-top: 10px;*/
    }
.portfolio_pic_4{
    display: inline-grid;
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 10;
/*    margin-top: 10px;*/
    }
    

        
    
.portfolio_pic_5{
    display: inline-block;
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 10;
    margin-left: 0px;
    } 
    
        .portfolio_group1{
    display: inline-block;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 10;

    }
    
    .portfolio_group2{
    display: inline-block;
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 10;
    }   
    
    
    .team_group_pics{
        display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    }
    
    .team_pics{
        width: 150px;
        height: 150px;
    }
    
    .team_member_1,.team_member_2,.team_member_3,.team_member_4{
        display: inline-block;
        width: 350px;
        height: 160px;
    }
    
    .team_member_1,.team_member_2{
        margin-top: 25px;
        margin-left: 0px
    }
    .team_member_3,.team_member_4{
        margin-top: 55px;
    }
    
    
    .team_member_1{ 
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
         
    }
    
    .team_pic_1{
        display: inline-block;
    }
    
    .team_pic_1_content{
    display: inline-block;
    width: 150px;
    height: 150px;
    font-size: 12px;
    }
    
    
    .team_member_2{
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 5;
    }
    
    .team_pic_2{
        display: inline-block;
    }
    
    .team_pic_2_content{
        display: inline-block;
    width: 150px;
    height: 150px;
    font-size: 12px;
    } 
    
    .team_member_3{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 10;
    }
    
    .team_pic_3{
        display: inline-block;
    
    }
    
    .team_pic_3_content{
        display: inline-block;
    width: 150px;
    height: 150px;
    font-size: 12px;
    }
    
    .team_member_4{
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 10; 
    }
    
    .team_pic_4{
        display: inline-block;
    }
    
    .team_pic_4_content{
        display: inline-block;
    width: 150px;
    height: 150px;
    font-size: 12px;
    }

    
    .team_group_pics{
        height: 400px;
    }
    
    .happy_client, .finish_project, .cup_of_coffee, .working_days{
    margin-left: 20%;
}
    
    section{
    background-color: blue;
//    height: 2100px;
    height: 100%;
}
    
}

//context better alignment
@media screen and (min-width: 470px) and (max-width: 525px){
       .happy_client, .finish_project, .cup_of_coffee, .working_days{
    margin-left: 15%;
           
}
    .one{
        margin-left: 30%;
    }
}
@media screen and (min-width: 426px) and (max-width: 469px){
       .happy_client, .finish_project, .cup_of_coffee, .working_days{
    margin-left: 12%;
}   .one{
        margin-left: 25%;
    }
}



///////////////////tablet////////////
@media screen and (min-width: 426px) and (max-width: 649px){
    
    .who_we_are{
        height: 550px;
    }    
    
     .one{
        margin-left: 25%;
    }   

    
/*    section reduction*/
    section{
//    height: 2920px;
//    height: 100%;
    
}    
    /*portfoilio pictures grid reform        */
    
    .portfolio_group1{
    width: 100%;    
    }
    
    .portfolio_group2{
    width: 100%;    
    }
    
    
   .portfolio_group1{
    display: block;
    }
    
    .portfolio_group2{
    display: block;
    }  
     
    
.portfolio_pic_1{
    display: inline-grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    }
.portfolio_pic_2{
    display: inline-grid;
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 5;
    }
.portfolio_pic_3{
    display: inline-grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 10;
    }
.portfolio_pic_4{
    display: inline-grid;
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 10;
    }
    
   
    
    .team_member_1,.team_member_2,.team_member_3,.team_member_4{
        width: 100%;
        margin-bottom: 151px;
    }
    
    .team_member_1,.team_member_2{
        margin-top: 25px;
    }
    .team_member_3,.team_member_4{
        margin-top: 80px;
    }
    
    .team_member_1,.team_member_3{
        margin-left: 20%;
    }
    
       
    .team_group_pics{
        height: 700px;
    }
    
    .pc_icon, .speaker_icon, .tool_icon, .pages_icon{
    width: 140px;
        
        p{
            width: 100px;
            font-size: 10px;
            margin-left: 20px;
        }
}
}


//tablet

@media screen and (min-width: 426px) and (max-width: 550px){
        
        
        .pc_icon, .speaker_icon, .tool_icon, .pages_icon{
            width: 100px;
            margin-left: 0;
        p{
            width: 105px;
            font-size: 10px;
            margin-left: 0px;
        }
            
        .one{
        margin-left: 24%;
    }
    
    }
    
    


}


//laptop
@media screen and (min-width: 769px) and (max-width: 1025px){
    
     .mySlides{
    width: 100%;
    height: 450px;
    z-index: 0;
}
    .who_we_are{
        height: 250px;
    }
    
    
    .who_we_are_content{
       
    display: inline-block;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 6;
        width: 40%;
    height: 200px;
    
}
    .who_we_are_head{
        margin-top: 10px;
}
    
    .read_more{
        margin-bottom: 20px;
    }
    

    
    .who_we_are_photos{
       
    display: inline-block;
    grid-column-start: 5;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 6;
    background-color: white;
        margin-bottom: 10px;
//        height: 0px
    
}
    

    .who_we_are_photo_group{
        display: inline-block;
    width: 155px;
    height: 100px;
        margin-top: 0px;
/*    margin: 10px 10px 10px 10px;*/
}
    
    .who_we_are_img1, .who_we_are_img2, .who_we_are_img3, .who_we_are_img4 {
        display: inline-block;
    }
    
    .who_we_are_img1, .who_we_are_img2{
    grid-row-start: 1;
    grid-row-end: 3;
    }
    
    .who_we_are_img3, .who_we_are_img4{
    grid-row-start: 5;
    grid-row-end: 6;
    }
    
    .who_we_are_img1, .who_we_are_img3{
    grid-column-start: 5;
    grid-column-end: 6;
    }
    
    .who_we_are_img2, .who_we_are_img4{
    grid-column-start: 6;
    grid-column-end: 7;
    }
     
    .top_group{
        margin-top: 10px;
    }
    
.course_outcome{
    height: 240px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(10,1fr);
        
    }
    
    .pc_icon, .speaker_icon, .tool_icon, .pages_icon{
    display: inline-block;
    width: 150px;
    height: 210px;
    margin-left: 0;
    grid-row-start: 1;
    grid-row-end: 11;
    font-size: 14px;
    margin-top:10px;
        
        p{
            width: 150px;
            font-size: 13px;
        }
}

  .pc_icon h4,.speaker_icon h4, .tool_icon h4, .pages_icon h4 {
        margin-top:0px;
    }
    
    
.pc_icon{
    grid-column-start: 2;
    grid-column-end: 3;
}
  
.speaker_icon{
    grid-column-start: 3;
    grid-column-end: 4;
}

.tool_icon{
    grid-column-start: 4;
    grid-column-end: 5;
}

.pages_icon{
    grid-column-start: 5;
    grid-column-end: 6;
}

.course_outcome_icons{
    height: 50px;
    width: 50px;
}

.portfolio_content{
    margin-left: 5%;
    margin-right: 5%;
}    
  
    portfolio_group_pics{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr); 
    }    
    
    

    .portfolio_group1{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    width: 50%;    
    }
    
    .portfolio_group2{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    width: 40%;    
    }
    
    
    .portfolio_pic{
        width: 400px;
        height: 315px;
    }  
    
    .portfolio_pics{
        width: 200px;
        height: 150px;

    }
  
    .portfolio_pic_1,.portfolio_pic_2,.portfolio_pic_3,.portfolio_pic_4{
        width: 150px;
        height: 150px;
        margin: 5px;
        padding-right: 30px;
    }   
  
    .portfolio_pic_1,.portfolio_pic_2{
        margin-top: 0px;
    }
    
.portfolio_pic_1{
    display: inline-grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    }
.portfolio_pic_2{
    display: inline-grid;
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 5;
    }
.portfolio_pic_3{
    display: inline-grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 10;
/*    margin-top: 10px;*/
    }
.portfolio_pic_4{
    display: inline-grid;
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 10;
/*    margin-top: 10px;*/
    }
    

        
    
.portfolio_pic_5{
    display: inline-block;
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 10;
    margin-left: 0px;
    } 
    
        .portfolio_group1{
    display: inline-block;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 10;

    }
    
    .portfolio_group2{
    display: inline-block;
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 10;
    }   
    
   
    .team_group_pics{
        display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    }
    
    .team_pics{
        width: 150px;
        height: 150px;
    }
    
    .team_member_1,.team_member_2,.team_member_3,.team_member_4{
        display: inline-block;
        width: 350px;
        height: 160px;
    }
    
    .team_member_1,.team_member_2{
        margin-top: 25px;
        margin-left: 0px
    }
    .team_member_3,.team_member_4{
        margin-top: 55px;
    }
    
    
    .team_member_1{ 
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
         
    }
    
    .team_pic_1{
        display: inline-block;
    }
    
    .team_pic_1_content{
    display: inline-block;
    width: 150px;
    height: 150px;
    font-size: 12px;
    }
    
    
    .team_member_2{
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 5;
    }
    
    .team_pic_2{
        display: inline-block;
    }
    
    .team_pic_2_content{
        display: inline-block;
    width: 150px;
    height: 150px;
    font-size: 12px;
    } 
    
    .team_member_3{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 10;
    }
    
    .team_pic_3{
        display: inline-block;
    
    }
    
    .team_pic_3_content{
        display: inline-block;
    width: 150px;
    height: 150px;
    font-size: 12px;
    }
    
    .team_member_4{
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 10; 
    }
    
    .team_pic_4{
        display: inline-block;
    }
    
    .team_pic_4_content{
        display: inline-block;
    width: 150px;
    height: 150px;
    font-size: 12px;
    }

    
    .team_group_pics{
        height: 400px;
    }
    
    .count_up{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);  
    }
    
    
    .happy_client, .finish_project, .cup_of_coffee, .working_days{
    display: inline-block;
    grid-row: 2/3;
    margin-left: -20%;
}
    
    .happy_client{
        grid-column: 2/3;
    }
    .finish_project{
        grid-column: 3/4;
    }
    .cup_of_coffee{
        grid-column: 4/5;
    }
    .working_days{
        grid-column: 5/6;
    }
    
    .email_label{
        display: block;
    }
    
    section{
    background-color: blue;
//    height: 2000px;
}
    
    
    
}

//better content alignment
@media screen and (min-width: 907px) and (max-width: 1024px){
    
    .who_we_are_main{
        font-size: 13px;
    }
    .who_we_are_head{
        margin-top: -5px
    }
    
}

////////////////////////large latop///////////////////////////
@media screen and (min-width: 1026px) and (max-width: 1440px){
    
     .mySlides{
    width: 100%;
    height: 450px;
    z-index: 0;
}
    .who_we_are{
        height: 250px;
    }
    
    
    .who_we_are_content{
       
    display: inline-block;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 6;
        width: 40%;
    height: 200px;
    
}
    .who_we_are_head{
        margin-top: 10px;
}
    .who_we_are_main{
        font-size: 13px;
    }
    
    .read_more{
        margin-bottom: 20px;
    }
    

    
    .who_we_are_photos{
       
    display: inline-block;
    grid-column-start: 5;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 6;
    background-color: white;
        margin-bottom: 10px;
//        height: 0px
    
}
    

    .who_we_are_photo_group{
        display: inline-block;
    width: 155px;
    height: 100px;
        margin-top: 0px;
/*    margin: 10px 10px 10px 10px;*/
}
    
    .who_we_are_img1, .who_we_are_img2, .who_we_are_img3, .who_we_are_img4 {
        display: inline-block;
    }
    
    .who_we_are_img1, .who_we_are_img2{
    grid-row-start: 1;
    grid-row-end: 3;
    }
    
    .who_we_are_img3, .who_we_are_img4{
    grid-row-start: 5;
    grid-row-end: 6;
    }
    
    .who_we_are_img1, .who_we_are_img3{
    grid-column-start: 5;
    grid-column-end: 6;
    }
    
    .who_we_are_img2, .who_we_are_img4{
    grid-column-start: 6;
    grid-column-end: 7;
    }
     
    .top_group{
        margin-top: 10px;
    }
    
.course_outcome{
    height: 240px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(10,1fr);
        
    }
    
    .pc_icon, .speaker_icon, .tool_icon, .pages_icon{
    display: inline-block;
    width: 150px;
    height: 210px;
    margin-left: 0;
    grid-row-start: 1;
    grid-row-end: 11;
    font-size: 14px;
    margin-top:10px;
        
        p{
            width: 150px;
            font-size: 13px;
        }
}

  .pc_icon h4,.speaker_icon h4, .tool_icon h4, .pages_icon h4 {
        margin-top:0px;
    }
    
    
.pc_icon{
    grid-column-start: 2;
    grid-column-end: 3;
}
  
.speaker_icon{
    grid-column-start: 3;
    grid-column-end: 4;
}

.tool_icon{
    grid-column-start: 4;
    grid-column-end: 5;
}

.pages_icon{
    grid-column-start: 5;
    grid-column-end: 6;
}

.course_outcome_icons{
    height: 50px;
    width: 50px;
}

.portfolio_content{
    margin-left: 5%;
    margin-right: 5%;
}    
  
    portfolio_group_pics{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr); 
    }    
    
    

    .portfolio_group1{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    width: 40%;    
    }
    
    .portfolio_group2{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    width: 40%;    
    }
    
    
    .portfolio_pic{
        width: 400px;
        height: 315px;
    }  
    
    .portfolio_pics{
        width: 200px;
        height: 150px;

    }
  
    .portfolio_pic_1,.portfolio_pic_2,.portfolio_pic_3,.portfolio_pic_4{
        width: 150px;
        height: 150px;
        margin: 5px;
        padding-right: 30px;
    }   
  
    .portfolio_pic_1,.portfolio_pic_2{
        margin-top: 0px;
    }
    
.portfolio_pic_1{
    display: inline-grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    }
.portfolio_pic_2{
    display: inline-grid;
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 5;
    }
.portfolio_pic_3{
    display: inline-grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 10;
/*    margin-top: 10px;*/
    }
.portfolio_pic_4{
    display: inline-grid;
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 10;
/*    margin-top: 10px;*/
    }
    

        
    
.portfolio_pic_5{
    display: inline-block;
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 10;
    margin-left: 0px;
    } 
    
        .portfolio_group1{
    display: inline-block;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 10;

    }
    
    .portfolio_group2{
    display: inline-block;
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 10;
    }   
    
   
    .team_group_pics{
        display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    }
    
    .team_pics{
        width: 150px;
        height: 150px;
    }
    
    .team_member_1,.team_member_2,.team_member_3,.team_member_4{
        display: inline-block;
        width: 350px;
        height: 160px;
    }
    
    .team_member_1,.team_member_2{
        margin-top: 25px;
        margin-left: 0px
    }
    .team_member_3,.team_member_4{
        margin-top: 55px;
    }
    
    
    .team_member_1{ 
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
         
    }
    
    .team_pic_1{
        display: inline-block;
    }
    
    .team_pic_1_content{
    display: inline-block;
    width: 150px;
    height: 150px;
    font-size: 12px;
    }
    
    
    .team_member_2{
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 5;
    }
    
    .team_pic_2{
        display: inline-block;
    }
    
    .team_pic_2_content{
        display: inline-block;
    width: 150px;
    height: 150px;
    font-size: 12px;
    } 
    
    .team_member_3{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 10;
    }
    
    .team_pic_3{
        display: inline-block;
    
    }
    
    .team_pic_3_content{
        display: inline-block;
    width: 150px;
    height: 150px;
    font-size: 12px;
    }
    
    .team_member_4{
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 10; 
    }
    
    .team_pic_4{
        display: inline-block;
    }
    
    .team_pic_4_content{
        display: inline-block;
    width: 150px;
    height: 150px;
    font-size: 12px;
    }

    
    .team_group_pics{
        height: 400px;
    }
    
    .count_up{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);  
    }
    
    
    .happy_client, .finish_project, .cup_of_coffee, .working_days{
    display: inline-block;
    grid-row: 2/3;
    margin-left: -20%;
}
    
    .happy_client{
        grid-column: 2/3;
    }
    .finish_project{
        grid-column: 3/4;
    }
    .cup_of_coffee{
        grid-column: 4/5;
    }
    .working_days{
        grid-column: 5/6;
    }
    
    .email_label{
        display: block;
    }
    
    section{
    background-color: blue;
//    height: 2000px;
}
    
    
    
}


