@mixin footer{
    footer{
   background-color: #E38F84; 
    
//    height: 100%;
    margin-top: 10px;
}
/*    footer 5 columns*/
    footer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
//    grid-template-rows: repeat(2,1fr);
    width: 100%;
    height: 200px;
}

/*align each column inline    */
.contact, .company, .help_support{
    display: inline-grid;
    height: 200px;
    font-size: 11px;
    width: 100%;
//    margin-left: 5%;
//    margin-right: 5%;
}

//media query for font optimisation
@media screen and (max-width: 559px){
.contact, .company, .help_support{
    p{font-size: 10px;}
    h4{
        margin-bottom: 0px;
        margin-top: 3px;
    }
}
    .contact{
        width: 110px;
    }
    
}    
    
.contact{
    display: inline-block;
    grid-column: 2/3;
    background-color: #E38F84;
}
.company{
    display: inline-block;
    grid-column: 3/4;
    background-color: #E38F84;
    
    ul{
        margin-left: -15px;
    }
}
.help_support{
    display: inline-block;
    grid-column: 4/5;
    background-color:#E38F84;
}
    
/*bottom footer    */
.copyright{
        display: grid;
        grid-column: 1/6;
        height: 15px;
} 

    
    
    
    
}