@mixin header{
    header{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    z-index: 0;
    background-color: grey;
    height: 450px;
}


/*overlay with text inside*/
#overlay {
    position: absolute;
    display: block;
    width: 65%;
    height: 45%;
    top: 100px;
    left: 17%;
    right: 20px;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}


#overlay_text{
    position: absolute;
    cursor: pointer;
    top: 45%;
    left: 50%;
    height: 250px;
    width: 200px;
    right: 50%;
    font-size: 13px;
    color: white;
    text-align: center;
    transform: translate(-50%,-50%);
    
    button{
    display: inline-block;
    background-color: palevioletred;
    color: white;
    border-color: white;
    z-index: 1;
    height: 17px;
        font-size: 12px;
        border-radius: 10px;
}
    
    
}



button div{
    display: none;
}

.overlay_btn:hover div{
    display: inline-block;
    background-color: palevioletred;
    color: white;
    -webkit-transition: 60s;
    
}

.overlay_btn:hover {
    padding-right: 10px;
    background-color: palevioletred;
    color: white;
    transition: 0.5s;
    padding-top: 0px;
    text-align: left; 
    cursor: pointer;
}

.overlay_btn{
    -webkit-transition: 60s;
}



/*.mySlides {display:none;}*/






slider{
    width: 100%;
    display: grid;
    grid-column: 1/11;
    grid-row: 1/11;
    z-index: 1;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}

    .slider_btns{
//    margin: auto;
    display: block;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
        width: 100%;
        z-index: 100;
    }    
    
    .slider-box{
        display: flex;     
    }
    
.slider_btn{
    display: inline-block;
//    grid-column-start: 2;
//    grid-column-end: 3;
//    grid-row: 2/3;
    z-index: 101;
    height:20px;
    width:25px;
    padding:0;
    cursor:pointer;
}
    .one{
        margin-left: 40%;
    }
    
.mySlides{
    width: 100%;
    height: 100%;
    z-index: 0;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1/3;
    
}

}